@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Roboto");
* {
  margin: 0;
  padding: 0;
  outline: 0;
}

.tableBox {
  position: static;
  left: 50%;
  top: 40%;
}
.title {
  position: static;
  /* left: 25%;
  top: 20%;
  z-index: 6; */
}

table {
  position: static;
  /* position: absolute; */
  z-index: 2;
  table-layout: fixed;
  margin-left: 2%;
  /* left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}
td,
th {
  padding: 15px 20px;
  text-align: center;
}
th {
  background-color: #b547c8;
  color: #fafafa;
  font-family: "Open Sans", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
tr {
  width: 100%;
  background-color: #fafafa;
  font-family: "Montserrat", sans-serif;
}
tr:nth-child(even) {
  background-color: #eeeeee;
}
tr {
  width: 20px;
}
