.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(255, 165, 244);
}

h4 {
  background-color: rgb(205, 86, 249);
  color: white;
}

.output {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px 0px 40px;
  background-color: rgb(245, 157, 255);
  width: 600px;
}

.button {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  box-shadow: 0 2px 15px rgba(64, 64, 64, 0.7);
  margin-left: 20px;
}

.button:hover {
  background-color: #c35fc0;
  color: white;
  border: 1px solid #f800ec;
}
