<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.DeptMapper">
	<select id="getDeptNameByDeptno" parameterType="_int" resultType="string">
		SELECT dname FROM DEPT WHERE deptno = #{deptno}
	</select>

   <!-- <result column="DB column name" property="우리가 정의한 데이터 "/> -->
	<select id="getDeptByDeptno" resultMap="getDeptByDeptnoResultMap">
		SELECT deptno, dname, loc FROM DEPT WHERE deptno = #{deptno}
	</select>
	<resultMap type="com.spring.dto.Dept" id="getDeptByDeptnoResultMap">
		<result column="deptno" property="deptno"/>
		<result column="dname" property="dname"/>
		<result column="loc" property="loc"/>
	</resultMap>
	
	<select id="getDeptMap" resultMap="getDeptByDeptnoResultMap2">
		SELECT deptno, dname, loc FROM DEPT WHERE deptno = #{deptno}
	</select>
	<resultMap type="java.util.HashMap" id="getDeptByDeptnoResultMap2">
   <!-- <result column="DB column name" property="우리가 정의한 데이터 "/> -->
		<result column="deptno" property="deptno2"/>
		<result column="dname" property="dname2"/>
		<result column="loc" property="loc2"/>
	</resultMap>
	
	<select id="getAllDepts" resultType="com.spring.dto.Dept">
		SELECT deptno, dname, loc FROM DEPT
	</select>
	
	<select id="getAllDeptsMap" resultType="map">
		SELECT deptno, dname, loc FROM DEPT
	</select>
	
	<insert id="insertDept" parameterType="com.spring.dto.Dept">
		INSERT INTO DEPT(deptno, dname, loc) VALUES
		<trim prefix="(" suffix=")">
			#{deptno}, #{dname}, #{loc}
		</trim>
	</insert>
<!-- 다이나믹(동적) 쿼리 확인하기 -->	
	<update id="updateDeptByDeptnoAndDname" parameterType="map">
		UPDATE DEPT SET loc = #{loc} WEHRE
		<if test="dname != null and dname != ''" >
			dname = #{dname},
		</if>
		deptno = #{deptno}
	</update>
	
	<update id="updateDeptByDeptno" parameterType="com.spring.dto.Dept">
		UPDATE DEPT SET dname = #{dname}, loc = #{loc} WHERE deptno = #{deptno}
	</update>
	
	<delete id="deleteDept1" parameterType="String">
		DELETE FROM DEPT WHERE loc = #{loc}
	</delete>
	
	<delete id="deleteDept" parameterType="_int">
		DELETE FROM DEPT WHERE deptno = #{deptno}
	</delete>
	
</mapper>